numpy
scipy
matplotlib
ipykernel
pandas
jupyter
h5py
tqdm
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
git+https://github.com/mwalmsley/galaxy_mnist.git
scikit-learn
umap-learn